*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #acccdc;
    color: #333;
}

header {
    background-color: #f9f9f9;
    color: #333;
    padding: 0px;
    align-items: center;
    text-align: center;
    position: relative;
}

header .logo h1 {
    margin: 0;
    padding: 10px;
}

.logo{
    width: 300px;
    height: auto;
}

.logo2{
    width: 100px;
    height: auto;
    position: absolute;
    left: 20px;
}
 
.logo3{
    width: 100px;
    height: auto;
    position: absolute;
    right: 20px;
}

.logo4{
    width: 250px;
    height: auto;

}

nav {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #0e2133;
}

nav a {
    margin: 0 15px;
    color: #f9f9f9;
    text-decoration: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

form .botao {
    padding: 100px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

footer {
    text-align: center;
     background-color: #0e2133;
    color: #f9f9f9;
    padding: 100px;
    margin-top: 250px;
}

footer p {
    font-size: 14px;
}

.botao{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0e2133;
    color: aliceblue;
    border-radius: 35px;
    margin: 80px;
    border: none;
    text-decoration: none;
  }