*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #acccdc;
    color: #333;
}

header {
    background-color: #f9f9f9;
    color: #333;
    padding: 0px;
    align-items: center;
    text-align: center;
}

header .logo h1 {
    margin: 0;
    padding: 10px;
}

.logo{
    width: 300px;
    height: auto;
}

.logo2{
    width: 100px;
    height: auto;
    position: absolute;
    left: 20px;
}
.logo3{
    width: 100px;
    height: auto;
    position: absolute;
    right: 20px;
}

section {
    margin: 30px auto;
    align-items: center;
    text-align: center;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: left;
    align-items: start;
}

form label {
    /* font-weight: bold; */
}

form input{
    min-width: 100%;
    padding: 7px;
    font-size: 16px;
    border: 1px solid #0e2133;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #0e2133;
    color: #f9f9f9;
    padding: 10px;
    margin-top: 40px;
}

footer p {
    font-size: 14px;
}
nav {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #0e2133;
}

nav a {
    margin: 0 15px;
    color: #f9f9f9;
    text-decoration: none;
}


.botao, .botao2, .botao3, .botao4, .botao5{
    border-radius: 7px;
    margin-top: 10px;
    border: none;
    width: 87px;
    height: 25px;
    color: #ffff;
    background-color: #0e2133;
    
}

.container_botoes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

